.counter_box{
  text-align: left;
  margin: 25px 0;
  .divider{
    border: solid 1px $color-primary;
    width: 40px;
    margin-bottom: 15px;
  }
  .counter{
    font-size: 36px;
    color: $color-primary;
    font-weight: 400;
    display: inline-block;
    padding: 0 3px;
    margin: 0;
  }
  h5{
    font-weight: 500;
    text-transform: capitalize;
    margin: 0;
    font-size: 14px;
    color: $color-black;
  }
}